
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">SHOPON</a>
            </div>

            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                
            
		
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p id='demo' class="lead"></p>
			

                <p class="lead">Shop Categories</p>
                <div class="list-group">
<a href="#" class="list-group-item active">Please login to activate the links<br> Username:Harry<br>Password:32</a>
                  <a href="#" class="list-group-item">Clothes</a>
                  <a href="#" class="list-group-item">Electronics</a>
                  <a href="#" class="list-group-item">Books</a>
                </div>
<div>Please login to activate the links<br> Username:Harry<br>Password:32</div>
            </div>
            <div class="col-md-9">
                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                        	  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        	  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        	  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        	</ol>
                        	<div class="carousel-inner">
                        	  <div class="item active">
                        	    <img alt="First slide" src="Images/deal.jpeg" style="width:800px;height:200px;">
                        	  </div>
                        	  <div class="item">
                        	    <img alt="Second slide" src="pant.jpeg" style="width: 100%;">
                        	  </div>
                        	  <div class="item">
                        	    <img alt="Third slide" src="http://placehold.it/800x200" style="width: 100%;">
                        	  </div>
                        	</div>
                        	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        	  <span class="glyphicon glyphicon-chevron-left"></span>
                        	</a>
                        	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        	  <span class="glyphicon glyphicon-chevron-right"></span>
                        	</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="Images/shirts.jpg" alt="">
                        <div class="caption">
                          <h3>Sports Jersy</h3>
                          <p>Great comfortable and washable Brazil team jersy!</p>
                          <p>Price : Rs 400/-</p>
                           <div >


<button type="button" ng-click="log()">Check It Out</button>
	
      </div> 
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="Images/cloth1.jpeg" alt="">
                        <div class="caption">
                          <h3>Informal Shirts</h3>
                          <p>Comfortable cotton shirts for indoor or outdoor wear!</p>
                          <p>Price : Rs 120/-</p>
                            <div >
       <button type="button" ng-click="log()">Check It Out</button>

      </div>
                          </p>
                        </div>
                      </div>
                    </div>
                                    <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                        <img src="Images/pant.jpg" alt="" >
                        <div class="caption">
                          <h3>Jeans</h3>
                          <p>Cotton jeans perfect to make an outing comfortable!</p>
                          <p>Price : Rs 500/-</p>
                            <div >
        <button type="button" ng-click="log()">Check It Out</button>

      </div>
                          </p>
                        </div>
                      </div>
                    </div>
                                </div>
            </div>
        </div>
    </div>

</body>
</html>
